@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");


body {
    font-family: "Kanit", sans-serif;
    /*background: #ffd230;*/
    
}

a{
    text-decoration: none !important;
    color: black;
}

.r1{
    margin-bottom: 50px;
}