@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

.title h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}

.tables-btn {
    padding: 50px;
}

.overall-table{
    /*align-self: center;*/
    align-items: center;
}

.btn-custom{
    width: 80%;
    height: 100px;
    padding: 3em;
    text-align: center;
    background-color: white;
}

body {
    background: #FFEF82;
    font-family: "Kanit", sans-serif;
}

.btn-custom:hover{
    border: 1px solid black;
}

.btn-f{
    background-color: red !important;
}